<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/Listings">
        <input type="text" name="title" id="" placeholder="Enter Title">
        <br>
        <textarea type="text" name="description" id="" placeholder="Enter Description"></textarea>
        <br>
        <input type="text" name="image" id="" placeholder="Enter Image URL/Link">
        <br>
        <input type="number" name="price" id="" placeholder="Enter Price">
        <br>
        <input type="text" name="country" id="" placeholder="Enter Country">
        <br>
        <input type="text" name="location" id="" placeholder="Enter Location">
        <br>
        <button>Add</button>
    </form>
</body>

</html>