<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" id="" placeholder="Enter Title">
        <br>
        <br>
        <textarea type="text" name="listing[description]" id="" placeholder="Enter Description"></textarea>
        <br>
        <br>
        <input type="text" name="listing[image]" id="" placeholder="Enter Image URL/Link">
        <br>
        <br>
        <input type="number" name="listing[price]" id="" placeholder="Enter Price">
        <br>
        <br>
        <input type="text" name="listing[country]" id="" placeholder="Enter Country">
        <br>
        <br>
        <input type="text" name="listing[location]" id="" placeholder="Enter Location">
        <br>
        <br>
        <button>Add</button>
    </form>
</body>